/* :root {
	--side-channels: 75px;
}
.main {
	grid-template-columns: var(--side-channels) 1fr var(--side-channels);
}
.noShow {
	display: none;
} */

.grid {
	display: grid;
	column-gap: 1ch;
	row-gap: 1ch;
}

.top {
	grid-template-columns: minmax(max-content, 300px) 1fr;
	justify-items: center;
}

.content {
	grid-template-columns: 1fr 1fr;
	/* background: yellowgreen; */
}

.toolbar {
	background: green;
	grid-template-columns: 1fr 1fr;
}
.toolbar > div {
	grid-template-rows: 45px 45px;
	grid-auto-flow: column;
}

.views {
	/* background: green; */
}
.forms {
	/* background: green; */
}

.menu {
	background: purple;
	grid-auto-flow: column;
	grid-auto-columns: 150px;
	row-gap: 3px;
	grid-template-rows: repeat(2, 45px);
}
/* .forms {
	grid-column: 1;
	height: 110px;
	background: orange;

} */
.results {
	grid-column: 2;
	min-height: 150px;
	background: blue;
}

/* menus */
.formMenu {
	/* grid-column: span 2; */
}
.viewMenu {
	grid-column: span 2;
}

/* form types */
.form {

}
.findCribs {

}
.updateCribs {

}
.addClass {

}
.addToWaitlist {

}
.eligibiltyCheck {

}
.addresses {

}